<div class="card">
  <h5>{{ article.title }}</h5>
  <div class="categories-list">
    <div class="row row-cols-7 row-cols-md-7">
      <div *ngFor="let category of categories" class="categories">
        <app-category [category]="category"></app-category>
      </div>
    </div>
  </div>
  <div class= "autor-login">
    <p>author: {{article.userLogin}}</p>
  </div>
  <div class="description">
    <p>{{ article.description }} </p>
  </div>
  <div>
    <img *ngIf='images[0]' src="assets/{{images[0].name}}" class="image">
  </div>
  <div class="description-button">
  <button type="button" class="btn btn-dark btn-sm" routerLink="/article/{{article.id}}">Подробнее</button>
  </div>
</div>
