.common
{
  margin: 0 25% 0;
}

.search-in-articles{
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 20px;
  display: inline-flex;
}

.form-control
{
  box-shadow: none;
  border: none;
}

.fas.fa-search{
  color: #ccc;
  padding: 10px;
}
