.common
{
  margin: 0 25% 0;
}

.autor-login
{
  height: 30px;
  font-weight: 500;
}

.form-control
{
  resize: none;
  height: 90px;
}

.categories-list
{
  margin-left: 10px;
}

.images
{
  margin: 0 0 15px 8px;
}


.image
{
  width: 755px
}

