<div class="common">
  <h1>{{article.title}}</h1>
  <div class="categories-list">
    <div class="row row-cols-7 row-cols-md-7">
      <div *ngFor="let category of categories" class="categories">
        <app-category [category]="category"></app-category>
      </div>
    </div>
  </div>
  <div class= "autor-login">
    <p>author: {{article.userLogin}}</p>
  </div>
  <div class="content">
    <p>{{article.content}}</p>
  </div>
  <div class="images">
    <div class="row row-cols-1">
      <div *ngFor="let image of images" class="images">
        <img src="assets/{{image.name}}" class="image">
      </div>
    </div>
  </div>
  <div class="comments">
    <h4>Comments</h4>
  </div>
  <div>
  <p *ngIf='!isLoggedIn'>
    <a [routerLink]="['/login']">Sign in</a> to be able to comment.
    <a [routerLink]="['/registration']">Sign up</a> if you don't have an account yet.
  </p>
  </div>
  <form class="add-comment-form" *ngIf='isLoggedIn'>
    <div class="form-group">
      <textarea class="form-control" id="comment" [(ngModel)]="text" name="text"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" name="add-comment-button" type="submit" (click)="createComment()" onclick="this.blur()">Add</button>
    </div>
  </form>
  <div class="comments-list row">
    <div class="row row-cols-1 row-cols-md-1">
      <div *ngFor="let comment of comments.reverse()" class="comments">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
  </div>
</div>
