.common
{
  margin: 10px 25% 0;
}

.btn
{
  margin-right: 5px;
}

.create-article-message
{
  margin-left: 15px;
}

.title-and-date
{
  display: inline-flex;
}

.date-view
{
  position: absolute;
  right: 15px;
}
