<div class="common row">
  <p class="create-article-message" *ngIf='!isUserHasArticles()'>You have not created any articles. <a [routerLink]="['/create-article']">Create</a></p>
  <div class="col-md-12">
    <div *ngFor="let article of articles" class="article">
      <h5>{{ article.title }}</h5>
      <p>{{ article.description }}</p>
      <button type="button" class="btn btn-dark btn-sm" routerLink="/article/{{article.id}}">More</button>
      <button type="button" class="btn btn-dark btn-sm" routerLink="/edit-article/{{article.id}}">Edit</button>
      <button type="button" class="btn btn-dark btn-sm" (click)="deleteArticle(article.id)">Delete</button>
      <hr>
    </div>
  </div>
</div>

